BasedOnStyle: google
AlignArrayOfStructures: Left
AlignOperands: Align
AllowShortBlocksOnASingleLine: Empty
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AlwaysBreakBeforeMultilineStrings: false
ColumnLimit: 85
IndentWidth: 4
SortIncludes: Never
SpaceBeforeParens: ControlStatements
